<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<title>Garbage Services</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Garbage management Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<!-- Bootstrap Core CSS -->
	<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
	<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
	<!-- font-awesome icons -->
	<link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet">
	<!-- //Custom Theme files -->
	<!-- online fonts -->
	<!-- titles -->
	<link href="//fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
	<!-- body -->
	<link href="//fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">
</head>

<body>
	
	<!-- header -->
	<header>
	<div class="top">
			<div class="container">
				<div class="t-op row">
					<!--<div class="col-sm-6 top-middle">
						<ul>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>-->
					<!--<div class="col-sm-6 top-left">
						<ul>
							<li><i class="fas fa-phone"></i> +021 365 777</li>
						</ul>
					</div>-->
				</div>
			</div>
		</div>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light">
				<h1>
					<a class="navbar-brand text-capitalize" href="index.html">
						Garbage
					</a>
				</h1>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav text-center  ml-lg-auto">
						<li class="nav-item mr-3">
							<a class="nav-link" href="http://127.0.0.1:8000/home/one/">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item  mr-3">
							<a class="nav-link" href="http://127.0.0.1:8000/home/four/">About</a>
						</li>
						<li class="nav-item  active mr-3">
							<a class="nav-link" href="http://127.0.0.1:8000/home/five/">Services</a>
						</li>
						<li class="nav-item dropdown mr-3">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
							    aria-expanded="false">
								Register As
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="http://127.0.0.1:8000/home/zero/">Signup</a>
								<a class="dropdown-item" href="http://127.0.0.1:8000/home/two/">Login</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="http://127.0.0.1:8000/home/five/">contact</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<!-- //header -->
	<!-- banner -->
	<!--<section class="banner-1">
	</section>-->
	<!-- //banner -->
		<!-- /services -->
<section class="what_you w3-about py-5">
		<div class="container py-md-4 mt-md-3">
			<h2 class="heading-agileinfo">Services <span>Speed Up The Process</span></h2>
			<span class="w3-line black"></span>
			<div class="row about-info-grids mt-md-5 pt-5">
				<div class="col-md-4 about-info about-info1">
					<!--<i class="far fa-gem"></i>-->
					<h4>Credit Service</h4>
					<div class="h4-underline"></div>
					<p>Apply for Free as a Member of the Global Waste Cleaning Network and Enjoy the Benefits. We are dedicated to conserving healthy oceans, coastlines, lands and the atmosphere..</p>
				</div>
				<div class="col-md-4 about-info about-info2">
					<!--<i class="fas fa-book"></i>-->
					<h4>Collect Waste</h4>
					<div class="h4-underline"></div>
					<p>Household waste in economically developed countries will generally be left in waste containers or recycling bins prior to collection by a waste collector using a waste collection vehicle.</p>
				</div>
				<div class="col-md-4 about-info about-info3">
					<!--<i class="fab fa-codepen"></i>-->
					<h4>Recycle</h4>
					<div class="h4-underline"></div>
					<p>Recycling is the process of collecting and processing materials that would otherwise be thrown away as trash and turning them into new products.</p>
				</div>
			</div>
			<div class="bord"></div>
			<div class="row about-info-grids">
				<div class="col-md-4 about-info about-info1">
					<!--<i class="fas fa-university"></i>-->
					<h4> Waste Bin</h4>
					<div class="h4-underline"></div>
					<p>At each location, two garbage bins (for wet and dry garbage) are placed which contain ultrasonic sensors to indicate level of garbage in the bin..</p>
				</div>
				<div class="col-md-4 about-info about-info2">
					<!--<i class="fas fa-folder"></i>-->
					<h4>Pollution free </h4>
					<div class="h4-underline"></div>
					<p>Stop littering.The earth is not your garbage. Green city,Clean city,My dream</p>
				</div>
				<div class="col-md-4 about-info about-info3">
					<!--<i class="fas fa-graduation-cap"></i>-->
					<h4>Recycling waste is upcycling your life</h4>
					<div class="h4-underline"></div>
					<p>When you recycle things, you make a considerable contribution towards saving the environment. That makes your existence worth it..</p>
				</div>
			</div>
	</div>
</section>

<!-- //services -->
<!-- news -->
	<section class="wthree-row w3-about py-5">
		<div class="container py-md-4 mt-md-3">
			<h3 class="heading-agileinfo">Recycling Waste is upcycling your Life<span>Tiny Steps Today, Trash Free Tomorrow</span></h3>
			<span class="w3-line black"></span>
			<div class="card-deck mt-md-5 pt-5">
				  <div class="card">
					<img src="{% static 'images/b7.jfif' %}" class="img-fluid" alt="Card image cap">
					<div class="card-body w3ls-card">
					  <h5 class="card-title">One person’s waste is another’s wealth</h5>
					  <p class="card-text mb-3 ">What you throw away can be useful to others. So, don’t throw. Send it in for recycling.</p>
					</div>
					
				  </div>
				  <div class="card">
					<img src="{% static 'images/b11.jpg' %}" class="img-fluid" alt="Card image cap">
					<div class="card-body w3ls-card">
					  <h5 class="card-title">Waste Management, Human Empowerment</h5>
					   <p class="card-text mb-3 ">When we manage waste well, we empower ourselves to make life better.</p>
					</div>
					
				  </div>
				  <div class="card">
					<img src="{% static 'images/b5.jpg' %}" class="img-fluid" alt="Card image cap">
					<div class="card-body w3ls-card">
					  <h5 class="card-title">Use fully to live fully</h5>
					   <p class="card-text mb-3">You can live a happy life only if you are environmentally conscious. Otherwise, your life is incomplete and you are missing out on a very important aspect of human existence- the connection with the environment.</p>
					</div>
					
				  </div>
				</div>
            </div>
        </section>
<!-- //news -->
<!--footer-->
	<footer>
		<div class="container py-md-4 mt-md-3">
			<div class="row footer-top-w3layouts-agile py-5">
				<div class="col-lg-3 col-md-6 col-sm-6 footer-grid">
					<div class="footer-title">
						<h3>About Us</h3>
					</div>
					<div class="footer-text">
						<p>Discover Complete Recycling Services for Waste. Enquire Now. Dependable Supply Chains for Waste Materials. Enquire Online Now. Customisable platform. Track waste performance.</p>

					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 footer-grid">
					<div class="footer-title">
						<h3>Contact Us</h3>
					</div>
					<div class="footer-office-hour">
						<ul>
							<li class="hd">Address :</li>
							<li>No.27 - RR street Mumbai, Maharashtra, India</li>

						</ul>
						<ul>
							<li class="hd">Phone:+91 9000987612</li>
							<li class="hd">Email:
								<a href="mailto:info@example.com">info@example.com</a>
							</li>

						</ul>
					</div>
				</div>
				<!--<div class="col-lg-3 col-md-6 col-sm-6 footer-grid">
					<div class="footer-title">
						<h3>Recent Posts</h3>
					</div>
					<div class="footer-list">
						<div class="flickr-grid">
							<a href="#" data-toggle="modal" data-target="#myModal">
								<img src="{% static 'images/g1.jpg' %}" class="img-fluid" alt=" ">
							</a>
						</div>
						<div class="flickr-grid">
							<a href="#" data-toggle="modal" data-target="#myModal">
								<img src="{% static 'images/g2.jpg' %}" class="img-fluid" alt=" ">
							</a>
						</div>
						<div class="flickr-grid">
							<a href="#" data-toggle="modal" data-target="#myModal">
								<img src="{% static 'images/g3.jpg' %}" class="img-fluid" alt=" ">
							</a>
						</div>
						<div class="flickr-grid">
							<a href="#" data-toggle="modal" data-target="#myModal">
								<img src="{% static 'images/g4.jpg' %}" class="img-fluid" alt=" ">
							</a>
						</div>
						<div class="flickr-grid">
							<a href="#" data-toggle="modal" data-target="#myModal">
								<img src="{% static 'images/g5.jpg' %}" class="img-fluid" alt=" ">
							</a>
						</div>
						<div class="flickr-grid">
							<a href="#" data-toggle="modal" data-target="#myModal">
								<img src="{% static 'images/g6.jpg' %}" class="img-fluid" alt=" ">
							</a>
						</div>
						<div class="flickr-grid">
							<a href="#" data-toggle="modal" data-target="#myModal">
								<img src="{% static 'images/g7.jpg' %}" class="img-fluid" alt=" ">
							</a>
						</div>
						<div class="flickr-grid">
							<a href="#" data-toggle="modal" data-target="#myModal">
								<img src="{% static 'images/g9.jpg' %}" class="img-fluid" alt=" ">
							</a>
						</div>
						<div class="flickr-grid">
							<a href="#" data-toggle="modal" data-target="#myModal">
								<img src="{% static 'images/g8.jpg' %}" class="img-fluid" alt=" ">
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 footer-grid">
					<div class="footer-title">
						<h3>Subscribe</h3>
					</div>
					<p>Vivamus magna justo, lacinia eget consectetur sed.</p>
					<form action="#" method="post" class="newsletter">
						<input class="email" type="email" placeholder="Your email..." required="">
						<button class="btn1">
							<i class="far fa-envelope"></i>
						</button>
					</form>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</footer>
	<!---->
	<div class="copyright py-3">
		<div class="container">
			<div class="copyrighttop">
				<!--<ul>
					<li>
						<h4>Follow us on:</h4>
					</li>
					<li>
						<a class="facebook" href="#">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
					<li>
						<a class="facebook" href="#">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li>
						<a class="facebook" href="#">
							<i class="fab fa-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a class="facebook" href="#">
							<i class="fab fa-pinterest-p"></i>
						</a>
					</li>
				</ul>-->
			</div>
			<div class="copyrightbottom">
				<p>© 2022 Garbage Management. All Rights Reserved | Design by
					<a href="http://w3layouts.com/">W3layouts</a>
				</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Home Loan</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		 <div class="agileits-w3layouts-info">
			<img src="{% static 'images/g6.jpg' %}" class="img-fluid" alt="" />
			<p>Duis venenatis, turpis eu bibendum porttitor, sapien quam ultricies tellus, ac rhoncus risus odio eget nunc. Pellentesque ac fermentum diam. Integer eu facilisis nunc, a iaculis felis. Pellentesque pellentesque tempor enim, in dapibus turpis porttitor quis. </p>
		</div>
	</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- //Modal -->
<!-- js-->
	<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
<!-- js-->
	<!-- Bootstrap Core JavaScript -->
	<script src="{% static 'js/bootstrap.js' %} ">
	</script>
	<!-- //Bootstrap Core JavaScript -->
</body>
</html>